[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = https://github.com/filipecarneiro/hugo-bootstrap-theme.git

[submodule "themes/loveit"]
	path = themes/loveit
	url = https://github.com/dillonzq/LoveIt
